/* citation for this styling:
How to - toggle switch. How To Create a Toggle Switch. (n.d.). 
Retrieved April 24, 2023, from https://www.w3schools.com/howto/howto_css_switch.asp 
*/

.switch {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    display: inline-block;
    width: 63px;
    height: 36px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
 
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 6px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: rgba(255, 255, 255, 0.2);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 36px;
    display: inline-block;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .switch div {
    display: flex;
    top: 10px;
    left: 15px;
    gap: 19px;
    color: rgb(32, 32, 32);
    position: relative;
    font-size: 14px;
    font-weight: 500;
    text-shadow: none;
  }

.hidden-initially {
  display: none;
}
